/* ==========================================================================
   WordPress TINYMCE Editor Styles
   ========================================================================== */

   @import "main";	// to help things look like they should

body {
	margin: 12px !important;
	color: $accent-color-15;
	padding: 10px;


}

