#wpjd-form input[type="text"]{
	width: 40px;
	padding: 0;
}
#wpjd-form li{
	padding: 10px 0;
}
#wpjd-tabs a.active{
	background: #F1F1F1;
    z-index: 2;
}
#wpjd-tabs a {
	background: #e5e5e5;
    border-color: #d5d5d5;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #444444;
    display: table;
    padding: 13px 20px;
    text-decoration: none;
    position: relative;
}
#wpjd-tabs > li {
    display: inline-block;
    margin-bottom: -6px;
    margin-left: 5px;
}
#wpjd-tabs {
    margin-bottom: 0;
}
#wpjd-form {
    border-top: 1px solid #d7d7d7;
    position: relative;
    z-index: 1;
    padding-top: 20px;
}
#wpjd-form #wpjd-form-ul {
    margin-top: 0;
}
.wpjd-loading{
    display: none;
    padding: 4px;
}
p.warning {
    color: #cf5d55;
}