/* ==========================================================================
   Alerts
   ========================================================================== */


html,
body {
	.alert {
		border-radius: 0;

		&.alert-success {}
		&.alert-info 	{}
		&.alert-warning {}
		&.alert-danger 	{}


		.alert-link {}
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
html,
body {}
}

@media (min-width: $screen-sm-min) {
html,
body {}
}

@media (min-width: $screen-md-min) {
html,
body {}
}

@media (min-width: $screen-lg-min) {
html,
body {}
}
