/* ==========================================================================
   Buttons
   ========================================================================== */


html,
body {

		.btn-agp {
			@extend .btn;
			@extend .btn-default;

			$box-color 	: $brand-box-color-4;
			$link-color : $box-color;

			background-color: $link-color;
			outline-color: darken($link-color, 20%);
			color: $accent-color-8;
			text-transform: uppercase;

			@include font-size(20);

			&:hover {
				background-color: darken($link-color, 20%);
				color: $accent-color-8;
			}

		}


	.nav-links {

		margin-bottom: 30px;

		a {
			@extend .btn;
			@extend .btn-default;
		}
	}

}