/* ==========================================================================
   Columns
   ========================================================================== */
html,
body {

	.multi-column {

		&.page-contents {

			.first-column {
				p { font-weight: 600; }

				&.dropcap p:first-of-type:first-letter {
					font-weight: 400;
				}

			}

			.page-contents-block {

				background: $accent-color-14;

				ul {
					list-style: none;
					padding: 0;

					li {
						position: relative;
						text-align: center;

						a {
							position: relative;
							width: 100%;
							color: $accent-color-7;
							display: block;
						}

						&:hover {
							&:after {
								position: absolute;
								content: '';
								width: 22px;
								height: 22px;
								background: linear-gradient(left top, $accent-color-11 0%, $accent-color-11 100%);
								transform: rotate(45deg);
								display: block;
								right: 0;
								top: 4px;
							}

							a {
								background: none;
								outline: none;
								color: $accent-color-11;
								font-weight: 600;

								&:after {
									position: absolute;
									content: '';
									width: 24px;
									height: 30px;
									background: linear-gradient(left top, $accent-color-11 0%, $accent-color-11 100%);
									display: block;
									right: -14px;
									top: 0;
								}

							}
						}

					}

				}
				.pc-booking-link {
					width: 100%;
					@include font-size(16);
					font-weight: 600;
					line-height: 40px;
				}

				margin-bottom: 30px;

			}

		}

	}

}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}





@media print {
	html,
	body {}
}