/* ==========================================================================
   Forms
   ========================================================================== */


html,
body {
	/* Gravity Forms General */
	&:not(material-design-active){
		main {
			.gform_wrapper {

				.gform_fields {
					padding: 0;
					margin: 0 0 10px;

					li {
						list-style-type: none;
						padding: 0;
						margin: 0 0 15px;
					}
				}

				select { background: #fbfbfb; }

				.alert-danger,
				.alert-error,
				.validation_error { margin: 20px 0; }

				.validation_message {
					font-size: 11px;
					color: red;
					font-style: italic;
				}

				.ginput_complex label {
					font-size: 11px !important;
					font-style: italic;
					margin: -6px 0 10px;
					color: #BBB;
				}

				.top_label input.medium,
				input[type="text"] { padding: 4px !important; }

				ul li.gform_left,
				span.ginput_left {
					float: left;
					width: 51%;
					clear: none;
				}

				ul li.gform_right,
				span.ginput_right {
					float: left;
					width: 49%;
					clear: none;
				}

				ul li.gform_left input.medium,
				span.ginput_left input {
					width: 91%;
					padding: 3px;
				}

				ul li.gform_left select {
					width: 95%;
					padding: 3px;
				}

				ul li.gform_right input.medium,
				span.ginput_right input {
					width: 96%;
					padding: 3px;
				}

				ul li.gform_right select {
					width: 100%;
					padding: 3px;
				}

				.gform_full textarea { width: 98%; }

				textarea {
					padding: 3px;
					height: 115px;
				}

				ul.gfield_checkbox { margin: 0; }

				ul.gfield_checkbox li {
					margin: 0;
					padding: 0;
				}

				.validation_error, #gforms_confirmation_message {
					padding: 8px 14px;
					margin-bottom: 20px;
					text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
					background-color: #fcf8e3;
					border: 1px solid #fbeed5;
					border-radius: 4px
				}

				#gforms_confirmation_message {
					color: #468847;
					background-color: #dff0d8;
					border-color: #d6e9c6;
				}

				.validation_error {
					color: #b94a48;
					background-color: #f2dede;
					border-color: #eed3d7;
				}
			}
		}
	}

	&.material-design-active {
		main {
			.multi-column {
				.gform_wrapper {
					form {
						.gform_fields{
							.ginput_container {

								input,
								select {
									&:focus {
										border-color: lighten($accent-color-9, 100%);
										box-shadow: inset 0 1px 1px rgba(0,0,0,.1),0 0 8px lighten($accent-color-9, 100%);
									}
								}

								textarea {
									border-top: 1px solid lighten($accent-color-9, 30%);
									border-right: 1px solid lighten($accent-color-9, 30%);
									border-left: 1px solid lighten($accent-color-9, 30%);

									&:focus {
										border-color: lighten($accent-color-9, 50%);
										box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px lighten($accent-color-9, 30%);
									}

								}

								.checkbox {
									.checkbox-material { left: -5px; }
								}

							}
						}
					}
				}
			}
		}
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
html,
body {}
}

@media (min-width: $screen-sm-min) {
html,
body {}
}

@media (min-width: $screen-md-min) {
html,
body {}
}

@media (min-width: $screen-lg-min) {
html,
body {}
}

