html,
body {

	.btn {
		text-transform: uppercase;
		border-radius: 0;

		span span { display: none; }

		&[type=submit] {
			width: 100%;
		}

		&.btn-danger {
			color: $accent-color-8 !important;
		}
	}



	.gform_wrapper {
		width: 100%;
		max-width: 100%;
		margin: 0;
		.input-group { width: 100%; }
	}



	form {
		.form-control,
		input[type=text],
		input[type=email],
		input[type=url],
		input[type=submit],
		textarea,
		button {
			border-radius: 0 !important;
			max-width: 100%;
		}

		.more {
			text-align: center;
		}


		select {
			-webkit-appearance: none !important;
		   appearance: none !important;
		   border-radius: 0 !important;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		   padding-left: 10px;
		   background: $accent-color-8 url('../images/input-select-arrows.png') no-repeat 99% center;
		   background-image: url('../images/input-select-arrows.png') !important;

		   &[multiple] { background-image: none !important; }
		}

		ul,ol {
			padding-left: 0 !important;
			// li { padding-left: 8px !important; }
		}

		.ginput_complex {
			margin: 0;

			& > span {
				padding: 0;
			}
		}

		.input-group-addon {
			background: $accent-color-7;
		}

		.gform_validation_container { display: none !important; }

		/* Twitter auto sugest */
		.twitter-typeahead,
		.tt-query,
		.tt-hint,
		.tt-input {
			width: 100% !important;
			height: 24px;
			padding: 8px 12px;
			font-size: 24px;
			line-height: 30px;
			border-radius: 0;
			outline: none;
		}

		.twitter-typeahead {
			background-color: $accent-color-8;

			&:focus { border: 2px solid #0097cf; }
		}

		.tt-hint,
		.tt-input {
			@include font-size(16);
		}

		.tt-input {
			width: 100%;
			position: absolute !important;
			top: 0;
			left: 0;
			height: 34px;
		}

		.tt-query {
		}

		.tt-hint {
		  	height: 34px;
		  	padding: 0;
		}

		.tt-menu {
			width: 100%;
			margin: 10px 0;
			padding: 8px 0;
			background-color: $accent-color-8;
			border: 1px solid #ccc;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 0;
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
		}

		.tt-suggestion {
			padding: 3px 20px;
			@include font-size(16);
			line-height: 24px;
		}

		.tt-suggestion:hover {
			cursor: pointer;
			color: $accent-color-8;
			background-color: $accent-color-11 !important;
		}

		.tt-suggestion.tt-cursor {
			color: $accent-color-8;
			background-color: #0097cf;

		}

		.tt-suggestion p { margin: 0; }

		.gist { font-size: 14px; }
		/**/




		&.form-inline {

			.input-group {
				margin-bottom: 20px;
				width: 100%;
				background-color: $accent-color-7 !important;

				.input-group { margin-bottom: 0; }

				.input-group-addon,
				label {
					width: 60px;
					background-color: $accent-color-7;
					color: $accent-color-8;
					text-align: center;
					text-transform: uppercase;
					@include font-size(14);
					font-weight: 300;
					margin: 0;
					border: none;
					border-radius: 0;
					padding: 6px 10px;
				}

				.input-group-addon {
					&.calendar {
						width: 40px;
					}

					&.submit {
						padding: 0;

						.btn:hover { color: $accent-color-8; }
					}
				}

			}

		}


		.gform_footer {
			margin-right: 0;
		}

	}

&.ie form select { background-image: none !important; }

}

.multi-column {

	.col-xs-12 {
		&.col-md-6 {
			form {
				.ginput_complex {
					span:nth-of-type(even) {
						margin-left: 0;
					}
				}
			}
		}

		&.col-lg-12 {
			form {
				.ginput_complex {
					span:nth-of-type(even) {
						margin-left: 1.1%;
					}
				}
			}
		}
	}
}
