/* ==========================================================================
   Google Map
   ========================================================================== */
html,
body {
	.element-google-map {
		.acf-map {
			width: 100%;
			min-height: 400px;
			border: 1px solid lighten($accent-color-10, 60%);
			box-shadow: 0 0 10px lighten($accent-color-10, 50%);
			margin: 15px 0;
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}





@media print {
	html,
	body {}
}