/* ==========================================================================
   Instagram Feed
   ========================================================================== */
html,
body {
	.element-instagramfeed {
		.instagram-img {
			margin: 15px 0;
			img { max-width: 100%; }
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}





@media print {
	html,
	body {}
}