/* ==========================================================================
   Latest Posts
   ========================================================================== */
html,
body {
	.element-latest-posts {

		.latest-posts .row {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			&:before,
			&:after {
				display: none; // clear out 'children'
			}
		}

		article {
			flex: 0 auto;
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			margin-bottom: 15px;

			&:first-of-type {
				flex: 0 auto;
			}

			&:last-of-type {
				flex: 0 auto;
			}

			&.col-md-3,
			&.col-md-4 {
				header {
					flex: 0 110px;  // For matching title heights
				}
			}

			section {
				display: flex;
				flex: 1 0 auto;
				flex-direction: column;

				&.featured-image {
					a {
						display: block;

						&:hover {
							transform: scale(0.8);
							outline-width: 0 !important;
						}

						img { max-width: 100%; }
					}
				}

				&.entry-summary {
					justify-content: center;

					&.no-featured-image {}

					span {
						flex: 1 0 auto;
					}
				}
			}

			footer {
				a {
					&.btn {
						&:hover { border-color: transparent; }
					}
				}
			}



		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}



@media print {
	html,
	body {}
}