/* ==========================================================================
   Misc
   ========================================================================== */

html,
body {
	figure {
		&.wp-caption {
			border-radius: 0;
		}

		figcaption {
			color: $brand-color-2;
		}
	}

	// From http://embedresponsively.com
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	}

	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// z-index: -100 !important;
	}



	/* ==========================================================================
	   WordPress Generated Classes
	   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
	   ========================================================================== */

	.aligncenter { display: block; margin: 0 auto; }

	.alignleft { float: left; }

	.alignright { float: right; }

	figure.alignnone { margin-left: 0; margin-right: 0; }


	.wp_content {

		img {
			margin: 20px;

			&.alignleft { margin-left: 0; }

			&.alignright { margin-right: 0 }

			&.aligncenter { margin: 20px auto; }
		}

		figure {
			box-shadow: 0 0 10px $accent-color-9;
			img {
				margin: 0;
			}
		}
	}



}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: $screen-xs-max) {
	html,
	body {
	}
}

@media (min-width: $screen-sm-min) {
	html,
	body {
	}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}
