/* ==========================================================================
   Pannels
   ========================================================================== */


html,
body {
	.panel-group {
		.panel {
			border-radius: 0;

			.panel-heading {
				background: lighten($accent-color-9, 20%);
				border-radius: 0;

				&:hover { background: lighten($accent-color-9, 10%) }
			}

			&.panel-success {}
			&.panel-info 	{}
			&.panel-warning {}
			&.panel-danger 	{}
		}
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
html,
body {}
}

@media (min-width: $screen-sm-min) {
html,
body {}
}

@media (min-width: $screen-md-min) {
html,
body {}
}

@media (min-width: $screen-lg-min) {
html,
body {}
}
