/* ==========================================================================
   Parallax
   ========================================================================== */

html,
body {
	.parallax {
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
	    position: relative;
	    overflow: hidden;
		margin-bottom: 15px;

	    .content {

			text-align: center;

		    h1 {
			    color: $accent-color-8;
			    line-height: 55px;
			    text-transform: uppercase;
			    outline: 2px solid $accent-color-8;
			    text-shadow: 1px 1px 10px $accent-color-7;
			    box-shadow:  1px 1px 10px 0px $accent-color-7;

			    span {
			    	display: inherit;
				    background: rgba(255,255,255,0.3);
				    // filter: blur(20px);
			    }
			    // opacity: 0;
		    }

		    img {
		    	margin-left: -200000px;


				&.skrollable-between {

				}

		    }
	    }

	}

}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {
		aside {
			&.sidebar {
				margin-left: -15px;
			}
		}
	}
}