/* ==========================================================================
   Tabs
   ========================================================================== */


html,
body {

	.tabbable {
		.nav-tabs {
			li {
				a { border-radius: 0; }
			}
		}

		.tab-content {
			margin-top: 15px;
			.tab-pane {}
		}
	}

}



/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
html,
body {}
}

@media (min-width: $screen-sm-min) {
html,
body {}
}

@media (min-width: $screen-md-min) {
html,
body {}
}

@media (min-width: $screen-lg-min) {
html,
body {}
}
