/* ==========================================================================
   Table Blocks
   ========================================================================== */
html,
body {

	.table-area,
	.element-price-table-area {
		margin-bottom: 15px;
		main {
			background: $accent-color-14;

			th {
				color: $accent-color-8;
				background: fade-out($accent-color-7, 0.3);
			}

			.table-striped {
				&>tbody {
					&>tr:nth-of-type(even) {
						background: fade-out($accent-color-8, 0.5);
					}
				}
			}

			.cta {
				background: $accent-color-13;
				padding-top: 30px;
				margin: -20px 0 0;
			}

		}
	}

}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {
		.element-holiday-type-blocks {
			.holiday-type-block {

				&.more {
					height: 200px;
					a {
						.details {
							span {
								p {
									@include font-size(20);
									margin-left: -20px;
									i {
										@include font-size(50);
										top: -17px;
									}
								}
							}
						}
					}
				}

				a {
					.details {
						height: 100px;

						span {
							top: 10px;
							h4,
							p {

							}

							h4 {
								@include font-size(20);
							}

							p {

							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	html,
	body {
		.element-holiday-type-blocks {
			.holiday-type-block {
				a {
					.details {
						height: 226px;

						span {

							h4,
							p {

							}

							h4 {
								@include font-size(20);
							}

							p {

							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	html,
	body {
		.element-holiday-type-blocks {
			.holiday-type-block {
				.details {
					height: 226px;

					span {

						h4,
						p {

						}

						h4 {

						}

						p {

						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	html,
	body {
		.element-holiday-type-blocks {
			.holiday-type-block {
				a {
					.details {
						height: 226px;

						span {

							h4,
							p {

							}

							h4 {
								@include font-size(20);
							}

							p {

							}
						}
					}
				}
			}
		}
	}
}
