/* ==========================================================================
   Testimonial
   ========================================================================== */


html,
body {

	.testimonials {
		blockquote {
		    background: $accent-color-16 none repeat scroll 0 0;
		    border: medium none;
		    padding: 15px;
		    position: relative;

		    p {
			    color: #666;
				display: block;
				@include font-size(18);
				// line-height: 20px;
		    }

		    &::before {
			    width: 0;
			    height: 0;
				right: 0;
				bottom: 0;
				content: ' ';
				display: block;
				position: absolute;
			    border-bottom: 20px solid #fff;
				border-right: 0 solid transparent;
				border-left: 15px solid transparent;
				border-left-style: inset; /*FF fixes*/
				border-bottom-style: inset; /*FF fixes*/
			}

			&::after {
			    width: 0;
			    height: 0;
			    right: 0;
			    bottom: 0;
			    content: ' ';
			    display: block;
			    position: absolute;
			    border-style: solid;
			    border-width: 20px 20px 0 0;
			    border-color: $brand-color-1 $accent-color-8 $accent-color-8 $accent-color-8;
			}
	    }

	    .carousel-info {
		    // overflow: hidden;
		    position: relative;

			 &::before {
			    content: '';
				position: absolute;
				top: -28px;
				left: 5%;
				height: 16px;
				width: 16px;
				background: $accent-color-16;
				transform: rotate(-45deg);
			}

		    img {
			    border: 1px solid $accent-color-9;
			    border-radius: 150px !important;
			    height: 75px;
			    padding: 3px;
			    width: 75px;
			    margin-right: 15px;
			}

			span {
				display: block;

				&.testimonials-name {
				    color: $brand-color-1;
				    @include font-size(18);
				    font-weight: 300;
				    margin: 15px 0 7px;
			    }

			    &.testimonials-post {
				    color: $accent-color-9;
				    @include font-size(14);
				}
			}
		}
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
html,
body {}
}

@media (min-width: $screen-sm-min) {
html,
body {}
}

@media (min-width: $screen-md-min) {
html,
body {}
}

@media (min-width: $screen-lg-min) {
html,
body {}
}
