/* ==========================================================================
   Timeline
   ========================================================================== */


html,
body {
	@import 'http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css';
	.element-timeline {
		padding-top: 30px;

		&:before,
		&:after {
			content: ' ';
			display: table;
			position: absolute;
			left: 31px;
			width: 20px;
			height: 20px;
			border: 3px solid $accent-color-9;
			border-radius: 50%;
			background-color: $accent-color-8;
			z-index: 0;
		}

		&:before {
			top: 10px;
			display: none;
		}

		&:after {
			bottom: 10px;
		}

		time {
			&.start-date {
				@include font-size(16);
				position: absolute;
				top: -26px;
				left: 12px;
				width: 60px;
				height: 60px;
				transform: scale(0.5);
				line-height: 55px;
				text-align: center;
				border: 3px solid $accent-color-9;
				border-radius: 50%;
				background-color: $accent-color-8;
				z-index: 10;

				&:hover {
					transform: scale(1);
				}
			}
		}

		.follow {
			width: 10px;
			height: 10px;
			display: block;
			background: red;
			position: fixed;
			top: 0%;
			left: 50%;
			transform: translateY(-50%);
			display: none;
		}

		.timeline {
			list-style: none;
			padding: 20px 0 20px;
			position: relative;

			&:before {
				top: 0;
				bottom: 0;
				position: absolute;
				content: ' ';
				width: 3px;
				background-color: $accent-color-9;
				left: 25px;
				margin-right: -1.5px;
			}

			&> li {
				margin-bottom: 20px;
				position: relative;

				&:before,
				&:after {
					content: ' ';
					display: table;
				}

				&:after {
					clear: both;
				}

				&:hover,
				&:focus,
				&:active {
					&.timeline-badge {
						transform: scale(1.25);
					}
				}

				&> .timeline-panel {
					width: calc( 100% - 75px );
					float: right;
					border: 1px solid $accent-color-9;
					border-radius: 2px;
					padding: 20px 60px 20px 20px;
					position: relative;
					box-shadow: 0 1px 6px rgba($accent-color-9, 0.3);
					min-height: 150px;

					&:hover {
						border-right-width: 40px;
						padding-right: 21px;
					}

					&:before,
					&:after {
						position: absolute;
						display: inline-block;
						content: " ";
					}

					&:before {
						top: 26px;
						left: -15px;
						border-top: 15px solid transparent;
						border-right: 15px solid $accent-color-9;
						border-left: 0 solid $accent-color-9;
						border-bottom: 15px solid transparent;
					}

					&:after {
						top: 27px;
						left: -14px;
						border-top: 14px solid transparent;
						border-right: 14px solid $accent-color-8;
						border-left: 0 solid $accent-color-8;
						border-bottom: 14px solid transparent;
					}

					time {
						color: $accent-color-8;
						font-weight: 600;
						display: inline-block;
						transform-origin: right bottom;
						transform: rotate(-90deg);
						position: absolute;
						top: calc( 0 - 110px );
						left: calc( 100% - 47px );
						width: 77px;
						z-index: 10;
					}


					.timeline-heading {
						.timeline-title {
							margin-top: 0;
						}
					}

					.timeline-body {
						p:last-of-type {
							margin-bottom: 0;
						}
					}
				}

				&> .timeline-badge {
					color: $accent-color-8;
					width: 50px;
					height: 50px;
					line-height: 50px;
					font-size: 1.4em;
					text-align: center;
					position: absolute;
					top: 16px;
					left: 0px;
					margin-right: -25px;
					background-color: $accent-color-9	;
					z-index: 100;
					border-radius: 50%;

				}
			}
		}
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
html,
body {}
}

@media (min-width: $screen-sm-min) {
html,
body {}
}

@media (min-width: $screen-md-min) {
html,
body {}
}

@media (min-width: $screen-lg-min) {
html,
body {}
}
