/* ==========================================================================
   Tripadvisor Blocks
   ========================================================================== */
html,
body {

	.element-tripadvisor-block {

		.trip-map {
			margin-top: 40px;

			.widLangEN_UK {
				background: none !important;

				iframe {
					margin-top: 10px;
					width: 100% !important;
					outline: 1px solid rgb(88, 148, 66);
					box-shadow: 0 0 10px lighten($accent-color-10, 50%);
				}

				.widgBottom { display: none; }
			}
		}

		.tripadvisor-reviews {
			margin: 30px 0;
			box-shadow: 0 0 10px lighten($accent-color-10, 50%);
			& > div {
				width: 100%!important;
			}
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
html,
body {}
}

@media (min-width: $screen-sm-min) {
html,
body {}
}

@media (min-width: $screen-md-min) {
html,
body {}
}

@media (min-width: $screen-lg-min) {
html,
body {}
}





@media print {
	html,
	body {}
}