/**
 * Advanced Custom Fields Viewer
 * Theme: Dark
 * Author: Joseph Fusco http://josephfus.co/
 */

html.acfv-active {
	overflow-y: hidden !important;
}

.acfv-btn-icon {
	max-width: 100%;
	height: 60px;
	fill: #5ee8bf;
}

#acfv-current-viewer,
#acfv-options-viewer {
	margin: 0;
	padding: 5px;
}

#acfv-wrap {
	position: fixed;
	background-color: #333;
	color: #BBB;
	font-size: 14px;
	font-family: monospace;
	height: 100%;
	width: 80%;
	top: 0;
	left: -100%;
	padding: 10px;
	z-index: 99999;
	-webkit-transition: left 0.2s ease;
	-moz-transition: left 0.2s ease;
	-o-transition: left 0.2s ease;
	transition: left 0.2s ease;
}

#acfv-click-layer{
	z-index: 99998;
	position: fixed;
	top: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	background-color: transparent;
}

#acfv-click-layer.acfv-open {
	left: 0;
}

#acfv-wrap.acfv-open {
	left: 0;
}

#acfv-wrap h2 {
	font-size: 16px;
	font-weight: 200;
	line-height: 1.1;
	text-align: right;
}

#acfv-wrap.adminbar-visible {
	top: 32px;
}

#acfv-wrap.adminbar-visible table tr td {
	padding-bottom: 30px;
}

#acfv-wrap pre {
	white-space: pre-wrap;
	overflow-y: auto;
	background-color: #222;
	line-height: 1.2;
	max-width: 100%;
	width: 100%;
	border-radius: 0 4px 4px 4px;
	border: none;
	height: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1.1;
	color: #BBB;
}

#acfv-wrap pre::selection {
	background-color: #16E4A4;
	color: #5ee8bf;
}

#acfv-wrap pre::-moz-selection {
	background-color: #16E4A4;
	color: #5ee8bf;
}

#acfv-wrap table {
	height: 100%;
	width: 100%;
	border: none;
}

#acfv-wrap table tr {
	height: 100%;
}

#acfv-wrap table tr td{
	vertical-align: top;
	height: 100%;
	position: relative;
	padding: 0;
	overflow-y: auto;
	border: none;
}

span.acfv-label {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.6);
	padding: 2px 10px;
	width: 100%;
	border-radius: 0 0 4px 4px;
}

.acfv-btn-col {
	width: 160px
}

.acfv-spacer {
	border-top: 1px solid #2B2B2B;
	border-bottom: 1px solid #3D3D3D;
	width: 150px;
	display: block;
	margin: 10px 0;
}

.acfv-btn {
	display: block;
	cursor: pointer;
	text-align: center;
	width: 150px;
	background-color: #444;
	padding: 18px 20px;
	border-radius: 4px;
	box-shadow: 0px 3px 0px #555;
	color: #CCC;
	font-family: monospace;
	margin-bottom: 15px;
	-webkit-transition: color 0.1s ease;
	-moz-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.acfv-btn.acfv-active {
	background-color: #222;
	box-shadow: 0px 0px 0px #555;
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
}

.acfv-btn:hover, .acfv-btn:focus {
	text-decoration: none;
	color: #5ee8bf;
}

.acfv-btn:active {
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	box-shadow: 0px 0px 0px #555;
}

.acfv-link {
	color: #222;
}

.acfv-link span {
	height: 30px;
	width: 30px;
	font-size: 30px;
}

.acfv-link:hover, .acfv-link:focus {
	text-decoration: none;
	color: #5ee8bf;
}

.acfv-footer {
	position: absolute;
	bottom: 30px;
}

.acfv-footer a {
	text-decoration: none;
}

#acfv-toggle {
	position: fixed;
	z-index: 99999;
	top: 10px;
	left: 10px;
	opacity: 0;
	padding: 0;
	-webkit-transition: opacity 0.1s ease;
	-moz-transition: opacity 0.1s ease;
	-o-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}

#acfv-toggle:hover {
	opacity: 1;
}

#acfv-toggle.adminbar-visible {
	top: 42px;
}
