// https://www.google.com/fonts/specimen/Noto+Sans
// @import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic');


// http://www.google.com/fonts/specimen/Nunito
// @import url('http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic');

// http://fortawesome.github.io/Font-Awesome/
//@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

// hex to rgba
@mixin rgbaColorIn($color, $opacity : 1){
  $result: rgba( red($color), green($color), blue($color), $opacity ) !global;
}



/* ==========================================================================
   FONTS & SIZES
   ========================================================================== */

@import url('http://fonts.googleapis.com/css?family=Roboto:400,500italic,500,400italic,300italic,300,100,100italic,700,700italic,900,900italic');

@import url('http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic');

// @import url(http://fonts.googleapis.com/css?family=Lobster&text=“”‘’);

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}



@mixin font-size($sizeValue) {	// PX value passed
	$baseSizeValue	: 	0; 								// Set default
	$fontSize		: 	($baseSizeValue + $sizeValue);	// Calc font size as px
	$remValue		: 	($sizeValue / 10);				// Calc font sizeas as rem
	$lineHieght		:	$fontSize + 2;					// Calc line height
	font-size		: 	$fontSize + px;					// Print font size in px (fallback)
	font-size		:	$remValue + rem;				// Print font size in rem
	line-height		: 	$lineHieght + px;				// Print line height
}


$style: normal !global;

@mixin bold($style) {
	font-family: "Din Display Pro Regular", 'Muli', 'Roboto', sans-serif;
	font-size-adjust: 0.49;
	font-weight: 700;
	font-style: $style;
}

@mixin regular($style) {
	font-family: "Din Display Pro Regular", 'Muli', 'Roboto', sans-serif;
	font-size-adjust: 0.48;
	font-weight: 400;
	font-style: $style;
}

@mixin light($style)	{
	font-family: "Din Display Pro Light", 'Muli', 'Roboto', sans-serif;
	font-size-adjust: 0.44;
	font-weight: 300;
	font-style: $style;
}

body {
	@include regular(normal);
	font-size-adjust: 0.48;
	font-weight: normal;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	color: $accent-color-15;
}

.link-love {
	@include font-size(12);
	a { color: $cloud9-orange; }
}

h1 {	@include font-size(38); 	} 	// 38px
h2 { 	@include font-size(34); 	}	// 34px
h3 { 	@include font-size(30); 	}	// 30px
h4 { 	@include font-size(20); 	}	// 20px
h5 { 	@include font-size(16); 	}	// 16px
h6 { 	@include font-size(12); 	}	// 12px



h1, h2, h3, h4, h5, h6 {
	@include light(normal);
	color: $brand-color-1;
}


p {
	line-height: 30px;
	margin-bottom: 20px;
	@include font-size(18);
}


strong,
b { @include bold(normal); }

a {
	color: $brand-color-1;

	&:hover,
	&:focus,
	&:active { color: $brand-box-color-2; }
}

// To fix
/*
article {
	@include color-lightness($brand-color);

	&.background-color-is-set {
		h1, h2, h3, h4, h5, h6, p, li { color: $accent-color-8; }
	}

}
*/

input {
	@include light(normal);
	font-size-adjust: 0.44;
	font-weight: normal;
}


blockquote {
	// Reset
	border-left: none;
	padding: 0;
	@include font-size(16);

	padding: 20px;
	position: relative;
	quotes: "“" "”" "‘" "’";

	&:before,
	&:after {
		display: block;
		position: absolute;
		@include font-size(90);
		font-family: Lobster, helvetica, arial, sans-serif;
	}

	&:before {
		content: open-quote;
		left: -20px;
		top: 0;
	}

	&:after {
		content: close-quote;
		right: -20px;
		bottom: -45px;
	}

	p {
		@include font-size(26);
		color: $accent-color-11;
	}
}

/* ==========================================================================
   SOCIAL MEDIA ICONS
   ========================================================================== */
@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'socicon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	//outline: 1px solid red;
}

.socicon:empty { width: 1em; }

.socicon-twitter {
	a {
		@include rgbaColorIn($sm-color-twitter,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'a'; }
	}
}
.socicon-facebook {
	a {
		@include rgbaColorIn($sm-color-facebook,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }


		&:before 		{ content: 'b'; }
	}
}
.socicon-google-plus {
	a {
		@include rgbaColorIn($sm-color-google,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'c'; }
	}
}
.socicon-pinterest {
	a {
		@include rgbaColorIn($sm-color-pinterest,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'd'; }
	}
}
.socicon-foursquare {
	a {
		@include rgbaColorIn($sm-color-foursquare,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'e'; }
	}
}
.socicon-yahoo {
	a {
		@include rgbaColorIn($sm-color-yahoo	,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'f'; }
	}
}
.socicon-skype {
	a {
		@include rgbaColorIn($sm-color-skype,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'g'; }
	}
}
.socicon-yelp {
	a {
		@include rgbaColorIn($sm-color-yelp,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'h'; }
	}
}
.socicon-feedburner {
	a {
		@include rgbaColorIn($sm-color-feedburner,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'i'; }
	}
}
.socicon-linkedin {
	a {
		@include rgbaColorIn($sm-color-linkedin,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'j'; }
	}
}
.socicon-viadeo {
	&:before 		{ content: 'k'; }
}
.socicon-xing {
	a {
		@include rgbaColorIn($sm-color-xing,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'l'; }
	}
}
.socicon-myspace {
	a {
		@include rgbaColorIn($sm-color-myspace,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'm'; }
	}
}
.socicon-soundcloud {
	a {
		@include rgbaColorIn($sm-color-soundcloud,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'n'; }
	}
}
.socicon-spotify {
	a {
		@include rgbaColorIn($sm-color-spotify,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'o'; }
	}
}
.socicon-grooveshark {
	a {
		@include rgbaColorIn($sm-color-grooveshark,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'p'; }
	}
}
.socicon-lastfm {
	a {
		@include rgbaColorIn($sm-color-lastfm,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'q'; }
	}
}
.socicon-youtube {
	a {
		@include rgbaColorIn($sm-color-youtube,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'r'; }
	}
}
.socicon-vimeo {
	a {
		@include rgbaColorIn($sm-color-vimeo-2	,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 's'; }
	}
}
.socicon-dailymotion {
	a {
		@include rgbaColorIn($sm-color-dailmotion,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 't'; }
	}
}
.socicon-vine {
	a {
		@include rgbaColorIn($sm-color-vine,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'u'; }
	}
}
.socicon-flickr {
	a {
		@include rgbaColorIn($sm-color-flickr,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'v'; }
	}
}
.socicon-500px {
	a {
		@include rgbaColorIn($sm-color-500px,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'w'; }
	}
}
.socicon-instagram {
	a {
		@include rgbaColorIn($sm-color-instagram,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'x'; }
	}
}
.socicon-wordpress {
	a {
		@include rgbaColorIn($sm-color-wordpress,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'y'; }
	}
}
.socicon-tumblr {
	a {
		@include rgbaColorIn($sm-color-tumblr,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'z'; }
	}
}
.socicon-blogger {
	a {
		@include rgbaColorIn($sm-color-blogger,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'A'; }
	}
}
.socicon-technorati {
	a {
		@include rgbaColorIn($sm-color-technorati,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'B'; }
	}
}
.socicon-reddit {
	a {
		@include rgbaColorIn($sm-color-reddit,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'C'; }
	}
}
.socicon-dribbble {
	a {
		@include rgbaColorIn($sm-color-dribbble,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'D'; }
	}
}
.socicon-stumbleupon {
	a {
		@include rgbaColorIn($sm-color-stumbleupon,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'E'; }
	}
}
.socicon-digg {
	a {
		@include rgbaColorIn($sm-color-digg,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'F'; }
	}
}
.socicon-envato {
	a {
		@include rgbaColorIn($sm-color-envato,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'G'; }
	}
}
.socicon-behance {
	a {
		@include rgbaColorIn($sm-color-behance,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'H'; }
	}
}
.socicon-delicious {
	a {
		@include rgbaColorIn($sm-color-delicious	,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'I'; }
	}
}
.socicon-deviantart {
	a {
		@include rgbaColorIn($sm-color-deviantart,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'J'; }
	}
}
.socicon-forrst {
	a {
		@include rgbaColorIn($sm-color-forrst,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'K'; }
	}
}
.socicon-playstore {
	a {
		@include rgbaColorIn($sm-color-playstation,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'L'; }
	}
}
.socicon-zerply {
	a {
		@include rgbaColorIn($sm-color-zerply,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'M'; }
	}
}
.socicon-wikipedia {
	a {
		@include rgbaColorIn($sm-color-wikipedia	,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'N'; }
	}
}
.socicon-apple {
	a {
		@include rgbaColorIn($sm-color-apple,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'O'; }
	}
}
.socicon-flattr {
	a {
		@include rgbaColorIn($sm-color-flattr,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'P'; }
	}
}
.socicon-github {
	a {
		@include rgbaColorIn($sm-color-github,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'Q'; }
	}
}
.socicon-chimein {
	a {
		@include rgbaColorIn($sm-color-chimein,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'R'; }
	}
}
.socicon-friendfeed {
	a {
		@include rgbaColorIn($sm-color-friendfeed,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'S'; }
	}
}
.socicon-newsvine {
	a {
		@include rgbaColorIn($sm-color-newsvine,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'T'; }
	}
}
.socicon-identica {
	&:before 		{ content: 'U'; }
}
.socicon-bebo {
	a {
		@include rgbaColorIn($sm-color-bebo,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'V'; }
	}
}
.socicon-zynga {
	&:before 		{ content: 'W'; }
}
.socicon-steam {
	&:before 		{ content: 'X'; }
}
.socicon-xbox {
	a {
		@include rgbaColorIn($sm-color-xbox,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'Y'; }
	}
}
.socicon-windows {
	a {
		@include rgbaColorIn($sm-color-windows,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: 'Z'; }
	}
}
.socicon-outlook {
	a {
		@include rgbaColorIn($sm-color-outlook,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '1'; }
	}
}
.socicon-coderwall {
	&:before 		{ content: '2'; }
}
.socicon-tripadvisor {
	a {
		@include rgbaColorIn($sm-color-tripadvisor,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '3'; }
	}
}
.socicon-appnet {
	&:before 		{ content: '4'; }
}
.socicon-goodreads {
	&:before 		{ content: '5'; }
}
.socicon-tripit {
	&:before 		{ content: '6'; }
}
.socicon-lanyrd {
	&:before 		{ content: '7'; }
}
.socicon-slideshare {
	&:before 		{ content: '8'; }
}
.socicon-buffer {
	&:before 		{ content: '9'; }
}
.socicon-rss {
	a {
		@include rgbaColorIn($sm-color-rss,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: ','; }
	}
}
.socicon-vkontakte {
	&:before 		{ content: ';'; }
}
.socicon-disqus {
	a {
		@include rgbaColorIn($sm-color-disqus			,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: ':'; }
	}
}
.socicon-houzz {
	a {
		@include rgbaColorIn($sm-color-houzz,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '+'; }
	}
}
.socicon-mail {
	&:before 		{ content: '@'; }
}
.socicon-patreon {
	&:before 		{ content: '='; }
}
.socicon-paypal {
	a {
		@include rgbaColorIn($sm-color-paypal,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '-'; }
	}
}
.socicon-playstation {
	a {
		@include rgbaColorIn($sm-color-playstation,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '^'; }
	}
}
.socicon-smugmug {
	&:before 		{ content: '¨'; }
}
.socicon-swarm {
	&:before 		{ content: '$'; }
}
.socicon-triplej {
	&:before 		{ content: '*'; }
}
.socicon-yammer {
	&:before 		{ content: '&'; }
}
.socicon-stackoverflow {
	a {
		@include rgbaColorIn($sm-color-stackoverflow,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '('; }
	}
}
.socicon-drupal {
	a {
		@include rgbaColorIn($sm-color-drupal,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '#'; }
	}
}
.socicon-odnoklassniki {
	a {
		@include rgbaColorIn($sm-color-odnoklassniki,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '.'; }
	}
}
.socicon-android {
	a {
		@include rgbaColorIn($sm-color-android,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: '_'; }
	}
}
.socicon-meetup {
	a {
		@include rgbaColorIn($sm-color-meetup,0);
		background: $result;

		&:hover,
		&:active,
		&:focus { background-color: fade-in($result, 1); }



		&:before 		{ content: ']'; }
	}
}
.socicon-persona {
	&:before 		{ content: ')'; }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {
	}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}





@media print {
	html,
	body {}
}
