// Variables
$imageDir: "../images";

/* ==========================================================================
   colors http://flatuicolors.com/
   ========================================================================== */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin animate($time) {								// Passed value in seconds
	$baseTime	: 	0s;								// Set default
	$time		: 	($baseTime + $time);			// So we can alter later if needed
	transition: all (0ms + $time) ease;				// Transition with converted seconds to milliseconds
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50);
  }
}

/* @mixin centerer Usage

&.both {
	@include center;
}

&.horizontal {
	@include center(true, false);
}

&.vertical {
	@include center(false, true);
}
*/
.animate {
	transition: all 400ms ease;
}

.imagelightbox {
    position: fixed;
    z-index: 9999;

    -ms-touch-action: none;
    touch-action: none;
}
/* for dev perposes */

.screen-view {
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	background-color: #1abc9c;
}

#scroll-info {
	position: fixed;
	top: 40px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 20px;
	z-index: 9999;
	width: auto;
	height: auto;
}



figure {
	max-width: 100%;
}


img {
	// For image scaling blur issues
	image-rendering: optimizeSpeed;             /*                     */
	image-rendering: -moz-crisp-edges;          /* Firefox             */
	image-rendering: -o-crisp-edges;            /* Opera               */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
	image-rendering: optimize-contrast;         /* CSS3 Proposed       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
	// -ms-interpolation-mode: bicubic;
	// width: 100%;
	height: auto;
}


body {
	// overflow-x: hidden;
	background: $accent-color-8;
	padding-bottom: 30px;
	&.logged-in {

		.secret-nav { margin-top: 32px; }

		padding-bottom: 34px;
	}

	* { @include animate(1); }

	&:not(.safari){
		img {
			// For image scaling blur issues
			image-rendering: optimizeSpeed;             /*                     */
			image-rendering: -moz-crisp-edges;          /* Firefox             */
			image-rendering: -o-crisp-edges;            /* Opera               */
			image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
			image-rendering: optimize-contrast;         /* CSS3 Proposed       */
			-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
			// -ms-interpolation-mode: bicubic;
			// width: 100%;
			height: auto;
		}
	}
}

::selection {
  	background: $brand-color-1; /* WebKit/Blink Browsers */
  	color: $accent-color-8;
}

::-moz-selection {
	background: $brand-color-1; /* Gecko Browsers */
	color: $accent-color-8;
}


img { max-width: 100%; }

.btn,
.label,
a {
	border-radius: 0 !important;
}


/* ==========================================================================
   Header & Nav
   ========================================================================== */
header {

	&.navbar {

		&.banner {

			&.navbar {  }

			&.navbar-default .navbar-nav>li>a:hover,
			&.navbar-default .navbar-nav>li>a:focus { color: $accent-color-1; }

			&.navbar-default .navbar-nav>.active>a,
			&.navbar-default .navbar-nav>.active>a:hover,
			&.navbar-default .navbar-nav>.active>a:focus {
				background-color: $accent-color-1;
				color: $accent-color-8;
			}


		}
	}
}



.spacer {
	// Height calculated by jQuery (see footer.php)
}

/* ==========================================================================
   Modal window
   ========================================================================== */


	.modal-dialog {
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	}

	.modal-body {
	    overflow-y: auto;
	}
	.modal-footer {
	    margin-top: 0;
	}

	@media (max-width: 767px) {
	  .modal-dialog {
	    width: 100%;
	  }
	}


/* ==========================================================================
   Calendar
   ========================================================================== */

   .widget_calendar {

		#wp-calendar {
			width: 100%;

			tr {

				th,
				td {
					text-align: center;
				}

				td {

					a {
						color: $accent-color-4;
						padding: 6px 7px;
						border-radius: 20px;
						box-shadow: 0 0 0 2px $accent-color-4 inset;
						text-decoration: none;

						&:hover {
							background-color: $accent-color-4;
							color: white;
							box-shadow: none;
						}
					}
				}
			}
		}
   }


/* ==========================================================================
   Search
   ========================================================================== */


.search {

	&.hidden-lg { margin: 10px 15px 2px; }

	&.visible-lg {

		padding: 8px 0;
		width: 68px;
		margin-left: 15px;

		&:not(.hover) {
			-webkit-transition: all 0.4s ease-in-out;
			margin-left: 0;

			.input-group .form-control {
				-webkit-transition: all 0.1s ease-in-out;
				width: 0;
				padding: 0;
				border: none;
			}

			.search-submit {
				background: none;
				border: none;
				color: rgb(119, 119, 119);
				font-weight: normal;
			}

		}

		&.hover,
		&:focus,
		&:active {
			// -webkit-transition: all 0.4s ease-in-out;
			// -webkit-transition: -webkit-transform 0.2s ease-out;
			// -moz-transition: -moz-transform 0.2s ease-out;
			// -o-transition: -o-transform 0.2s ease-out;
			transition: transform 0.2s ease-out;

			width: 250px;
			.input-group .form-control {
				transition: transform 0.2s ease-in-out;
			}

		}


	}
}

/* ==========================================================================
   Content
   ========================================================================== */

// .hentry img { max-width: none; }

.wrap {
	&.primary {
		&.container {
			margin-top: 116px;
		}
	}
}

.content {

	.wp_content {

		img {
			max-width: 100%;
		}
	}
	.multi-column {

		img { max-width: 100%; }

	}

	.page-header {
		color: $accent-color-1;
	}

	.heading_area {

		text-align: center;
		margin: 30px 0;

		h1 {
			@include font-size($sizeValue: 60);
			color: $accent-color-1;
		}

		h2 {
			@include font-size($sizeValue: 14);
			color: $accent-color-11;
		}
	}

	.dropcap p:first-of-type:first-letter {
		float: left;
		color: $accent-color-1;
		@include font-size($sizeValue: 75);
		line-height: 50px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
		font-family: Georgia;
	}

}

.jumbotron {

	.container {

		p {
			font-weight: 400;
			margin-top: 25px;
		}
	}
}


.pinterestfeed {

	div {

		& > span {
				overflow: hidden;
				width: 100% !important; }
	}
}

#instafeed {

	.likes {
		background: $accent-color-1;
		font-family: sans-serif;
		@include font-size($sizeValue: 40);
		position: absolute;
		color: #ffffff;
		right: 5px;
		top: 5px;
		left: 5px;
		@include opacity(0);
		text-align: center;
		text-shadow: 0 1px rgba(0,0,0,0.5);
		-webkit-font-smoothing: antialiased;
		transition: opacity 100ms ease;
	}


	a {
		display: inline-block;
		position: relative;

		&:hover .likes { @include opacity(0.8); }
	}


}



/* ==========================================================================
   WooCommerce Elements
   ========================================================================== */

.woocommerce-page {

	.button { font-weight: 300 !important; }

	.woocommerce-info,
	.woocommerce-message,
	.woocommerce-error {

		&:before { height: 2.5em !important; }

		}

	aside {
		margin-top: 45px;
		background-color: lighten($accent-color-9, 20%);
		outline: 1px solid $accent-color-9;

		&.sidebar {

			.widget:first-of-type:first-of-type {
				margin-top: 20px;
			}
		}
	}

	.edit {
		padding-left: 5px;
		padding-right: 5px;
		background-color: lighten($accent-color-9, 20%);
		outline: 1px solid $accent-color-9;
	}
}


/* ==========================================================================
   Showcase
   ========================================================================== */

.showcase_area {


	img {
		// position: absolute;
	}

	background-position-y: top;
	background-repeat: no-repeat;

	margin-bottom: 30px;

	.row {
		margin-bottom: 0 !important;

		.showcase-content {
			// min-height: 500px;
		}
	}
}


/* ==========================================================================
   Fullscreen Area & Mouse Animation
   ========================================================================== */
.fullscreen-area {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;


	.fullscreen-content {

		text-align: center;

		h2 {
		    color: $accent-color-8;
		    line-height: 55px;
		    text-transform: uppercase;
		    outline: 2px solid $accent-color-8;
		    text-shadow: 1px 1px 10px $accent-color-7;
		    box-shadow:  1px 1px 10px 0px $accent-color-7;

		    margin-top: 150px;

		    span {
		    	padding: 0 15px;


		    	display: inherit;
			    background: rgba(255,255,255,0.3);
			    // filter: blur(20px);
		    }
	    }

		img {

			position: absolute;
			left: 50%;
			margin-left: -600px;

		}
	}

}



@keyframes scroll-ani {
  0% {
    @include opacity(1);
    top: 29%;
  }
  15% {
    @include opacity(1);;
    top: 50%;
  }
  50% {
    @include opacity(0);
    top: 50%;
  }
  100% {
    @include opacity(0);
    top: 29%;
  }
}

// Mouse & Message Styles

// The Scroll Link
.mouse-scroll {
	display: inline-block;
	line-height: 18px;
	@include font-size($sizeValue: 13);
	font-weight: normal;
	color: #7F8C8D;
	color: #FFF;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	margin-top: 10%;
	text-decoration: none;
	overflow: hidden;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -23px;


	// The Mouse
	.mouse {
		position: relative;
		display: block;
		width: 46px;
		height: 73px;
		margin: 0 auto 20px;
		box-sizing: border-box;
		border: 3px solid #FFF;
		border-radius: 23px;
		box-shadow: 1px 1px 10px $accent-color-10, inset 1px 1px 10px $accent-color-10 ;

		// Scroll Indicator
		.mouse-movement {
		  position: absolute;
		  display: block;
		  top: 29%;
		  left: 50%;
		  width: 8px;
		  height: 8px;
		  margin: -4px 0 0 -4px;
		  background: #FFF;
		  border-radius: 50%;
		  animation: scroll-ani 4s linear infinite;
		  box-shadow: 1px 1px 10px $accent-color-10
		}

	}

	// The Scroll Message
	.mouse-message {
		float: left;
		margin: 0 0 0 7px;
		animation: scroll-ani 4s linear infinite;
		text-shadow: 1px 1px 10px $accent-color-10
	}

	// shown on Hover of The Mouse
	&:hover {

		.mouse-message {
			//margin-left: 0;
		}
	}

}


/* ==========================================================================
   Alerts
   ========================================================================== */

.alert {

	p { margin-bottom: 0; }
}


/* ==========================================================================
   Gravity Forms - using twitter bootstrap
   ========================================================================== */


.gform_wrapper ul {

  	@include list-unstyled();

  	.row { display: inline-grid; }

  	ul { padding-left: 15px; }

}

.gform_wrapper li {
  	// To fix @include form-group();
}

.gform_wrapper form {
	margin-bottom: 0;
}

.gform_wrapper .gfield_required {
  	padding-left: 1px;
  	color: $state-danger-text;
}

.ginput_container input,
.ginput_container select,
.ginput_container textarea {
	// width: inherit !important;
}

.multi-column .gform_wrapper input[type=text],
.multi-column .gform_wrapper textarea,
.multi-column .gform_wrapper input[type=url],
.multi-column .gform_wrapper input[type=email],
.multi-column .gform_wrapper input[type=tel],
.multi-column .gform_wrapper input[type=number],
.multi-column .gform_wrapper input[type=password] {
	padding: 5px 10px;
}

.multi-column .gform_wrapper .ginput_complex .ginput_right input[type=text],
.multi-column .gform_wrapper .ginput_complex .ginput_right input[type=url],
.multi-column .gform_wrapper .ginput_complex .ginput_right input[type=email],
.multi-column .gform_wrapper .ginput_complex .ginput_right input[type=tel],
.multi-column .gform_wrapper .ginput_complex .ginput_right input[type=number],
.multi-column .gform_wrapper .ginput_complex .ginput_right input[type=password],
.multi-column .gform_wrapper .ginput_complex .ginput_right select {
	width: 98.5% !important;
}


.ginput_container input,
.ginput_container select,
.ginput_container textarea {
  	// To fix form-control();
}

.ginput_complex .ginput_left,
.ginput_complex .ginput_right,
.gfield_time_hour,
.gfield_time_minute,
.gfield_time_ampm {
	@include font-size($sizeValue: 14);
	color: $accent-color-9;

	label {
		@include font-size($sizeValue: 14);
	}
}

.ginput_container textarea {
  	height: auto;
  	padding: 10px;
}

.gform_button {
  	// To fix btn();
  	// To fix btn-primary();
}

.gform_wrapper .gfield_error {

  .gfield_label {
    color: $state-danger-text;
  }

  input,
  select,
  textarea {
    border-color: $alert-danger-border;
    background-color: $alert-danger-bg;
    color: $alert-danger-text;
    @include form-control-focus($alert-danger-text);
  }

}

.validation_error {
  // To fix alert();
  // To fix alert-danger();
}

#gforms_confirmation_message {
  // To fix alert();
  // To fix alert-success();
}

.ginput_container input[type="checkbox"],
.ginput_container input[type="radio"] {
	float: left;
	width: 40px;
	border: none !important;
	box-shadow: none !important;
}

.ginput_container select { height: auto; }

.ginput_container select:not([multiple]) { height: 34px; }


.ginput_container .gfield_checkbox label,
.ginput_container .gfield_radio label {
	margin-top: 6px;
}

.ginput_container .ui-datepicker-trigger {
	float: right;
	margin: -24px 10px 0 0;
}

.ui-datepicker {
	outline: 1px solid rgb(189, 195, 199);
	background-color: rgb(236, 240, 241);
	padding: 15px;

	.ui-datepicker-prev { float: left;	}
	.ui-datepicker-next { float: right; }

	.ui-datepicker-title {
		clear: both;

		select { width: 50% }
	}

	.ui-datepicker-calendar {

		th {
			span { font-weight: 300; }
		}

		th,
		td {
			text-align: center;
			padding: 5px;
		}

		td {

			a { color: $accent-color-7; }
		}

	}
}


.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute,
.gform_wrapper .gfield_time_ampm {

	float: left;
	width: 60px !important;
	margin-right: 10px;

	* { float: left; }

}


.gfield_list {

	tr.gfield_list_row_even { margin-top: 15px; }

	td {
		padding-right: 15px;
		vertical-align: middle !important;

		select {
			float: left;
		}
	}

}



.gform_validation_container { display: none; }

.gform_footer { margin-top: 40px; }

.ginput_container input:focus,
.ginput_container select:focus,
.ginput_container textarea:focus {
	border-color: $accent-color-1;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px fade-out($accent-color-1, 0.4);
}



.gform_wrapper {

	.checkradios-checkbox,
	.checkradios-radio {
		@include font-size($sizeValue: 16);
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		text-align: center;
		border: 2px solid $accent-color-9;
		color: $accent-color-9;
		width: 20px;
		height: 20px;
		cursor: pointer;
		padding: 5px 5px;
		box-sizing: content-box;
		overflow: hidden;
		margin-right: 15px;


		/*Focus*/
		&.focus {
			box-shadow: 0px 0px 3px fade-out($accent-color-1, 0.1);

			border-color: $accent-color-1;
		}
	}
}
.gform_wrapper .icon-checkradios-checkmark{
	line-height: 1.3 !important;
}

.gform_wrapper .icon-checkradios-circle {
	line-height: 1.5 !important;
}

/* ==========================================================================
   Parallax - See components/_parallax.scss
   ========================================================================== */



/* ==========================================================================
   Slider
   ========================================================================== */

.slider {

	.flexslider {
		background: #000;
		margin: 0 0 20px;
		border: 0 solid transparent;
		border-radius: 0;

		li {
			margin-top: -1px;

			&.image-slide {

				.slider-text-area {
					position: absolute;

					h1 {}

					p {
						@include font-size($sizeValue: 12);
						line-height: 30px;
						margin-bottom: 15px;

						.slider-link {
							float: left;
							clear: both;
							margin-top: 15px;
						}
					}
				}

			}

		}

	}

	.flex-control-nav {
		bottom: 30px;

		a {
			background: none;
			width: 22px;
			height: 22px;
			box-shadow: 0 0 0 2px $accent-color-8 inset;

			&.flex-active,
			&:hover {
				background: $accent-color-8;
				@include opacity(0.5);
				border: none;
				box-shadow: none;
			}

			&.flex-active {
				@include opacity(1);
			}
		}
	}

}

/* ==========================================================================
   Google Map
   ========================================================================== */


.acf-map {
	width: 100%;
	min-height: 400px;
	border: 1px solid $accent-color-1;
	margin: 15px 0;
}


/* ==========================================================================
   Tabs - custom inclusion of right, left and below tabs
   ========================================================================== */

main {

	.tabs-below > .nav-tabs,
	.tabs-right > .nav-tabs,
	.tabs-left > .nav-tabs {
	  border-bottom: 0;
	}

	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	  display: none;
	}

	.tab-content > .active,
	.pill-content > .active {
	  display: block;
	}

	.tabs-below > .nav-tabs {
	  border-top: 1px solid #ddd;
	}

	.tabs-below > .nav-tabs > li {
	  	margin-top: -1px;
	  	margin-bottom: 0;
	}

	.tabs-below > .nav-tabs > li > a {
	    border-radius: 0 0 4px 4px;
	}

	.tabs-below > .nav-tabs > li > a:hover,
	.tabs-below > .nav-tabs > li > a:focus {
	  	border-top-color: #ddd;
	  	border-bottom-color: transparent;
	}

	.tabs-below > .nav-tabs > .active > a,
	.tabs-below > .nav-tabs > .active > a:hover,
	.tabs-below > .nav-tabs > .active > a:focus {
	  	border-color: transparent #ddd #ddd #ddd;
	}

	.tabs-left > .nav-tabs > li,
	.tabs-right > .nav-tabs > li {
	  	float: none;
	}

	.tabs-left > .nav-tabs > li > a,
	.tabs-right > .nav-tabs > li > a {
	  	min-width: 74px;
	  	margin-right: 0;
	  	margin-bottom: 3px;
	}

	.tabs-left > .nav-tabs {
	  	float: left;
	  	margin-right: 19px;
	  	border-right: 1px solid #ddd;
	}

	.tabs-left > .nav-tabs > li > a {
		margin-right: -1px;
		border-radius: 4px 0 0 4px;
	}

	.tabs-left > .nav-tabs > li > a:hover,
	.tabs-left > .nav-tabs > li > a:focus {
	  	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
	}

	.tabs-left > .nav-tabs .active > a,
	.tabs-left > .nav-tabs .active > a:hover,
	.tabs-left > .nav-tabs .active > a:focus {
	  	border-color: #ddd transparent #ddd #ddd;
	  	*border-right-color: #ffffff;
	}

	.tabs-right > .nav-tabs {
	  	float: right;
	  	margin-left: 19px;
	  	border-left: 1px solid #ddd;
	}

	.tabs-right > .nav-tabs > li > a {
		margin-left: -1px;
		border-radius: 0 4px 4px 0;
	}

	.tabs-right > .nav-tabs > li > a:hover,
	.tabs-right > .nav-tabs > li > a:focus {
	  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
	}

	.tabs-right > .nav-tabs .active > a,
	.tabs-right > .nav-tabs .active > a:hover,
	.tabs-right > .nav-tabs .active > a:focus {
	  border-color: #ddd #ddd #ddd transparent;
	  *border-left-color: #ffffff;
	}

}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {

	.widget {

		&:first-of-type { margin-top: 40px; }

		ul {
			list-style: none;
			padding-left: 0;

			li {
				margin-bottom: 15px;
				line-height: 24px;
			}
		}



	}


}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {

	header {

		h2 {

			&.entry-title {

				a  { color: $accent-color-1; }
			}
		}

		span {

			&.meta {
				color: $accent-color-9;
			}
		}

	}

	time { }

	.byline { }


	img {
		-webkit-transition: all .2s ease-in-out;
	}

	a {

		&.parallax-link {
			margin-top: 22%;
			text-decoration: none;
			display: block;

			h1 {
				-webkit-transition: all .2s ease-in-out;

				&:hover,
				&:focus,
				&:active {
					transition: transform 0.3s linear;
					transform: scale(1.05);
				}

			}
		}
	}

	.entry-content { }
	footer { }

}


/* ==========================================================================
   Footer
   ========================================================================== */

footer {

	&.content-info {

		.section-head {

			h3 {
				@include font-size($sizeValue: 34);
				text-transform: uppercase;
			}

			h4 {
				@include font-size($sizeValue: 16);
				text-transform: lowercase;
			}
		}

		#lower-footer {


			#facebook-like-box {

				iframe {
					margin-top: -10px;
					margin-left: -10px;
					height: 60px;
				}
			}

			#social-media-links {
				margin-top: 30px;

				.social-media-link {
					text-align: center;
					margin-bottom: 15px;


					&.facebook-link a 		{ background-color: rgb(59, 89, 152); 	}
					&.twitter-link a 		{ background-color: rgb(0, 172, 237); 	}
					&.google-plus-link a	{ background-color: rgb(221, 75, 57);	}
					&.linkedin-link	a		{ background-color: rgb(0, 123, 182);	}
					&.pinterest-link a		{ background-color: rgb(203, 32, 39);	}
					&.youtube-link a		{ background-color: rgb(187, 0, 0);		}
					&.vimeo-link a			{ background-color: rgb(144, 213, 236);	}
					&.foursquare-link a		{ background-color: rgb(0, 114, 177);	}
					&.rss-feed-link a		{ background-color: rgb(255, 102, 0);	}
					&.flickr-link a			{ background-color: rgb(255, 0, 132);	}
					&.instagram-link a		{ background-color: rgb(81, 127, 164);	}
					&.tripadvisor-link a	{ background-color: rgb(85, 150, 62);	}


					&.col-sm-1,
					&.col-sm-2,
					&.col-sm-3,
					&.col-sm-4,
					&.col-sm-6,
					&.col-sm-12 {


						a {
							font-family: 'socicon' !important;
							display: block;
							span { display: none; }
						}

						&.facebook-link a:before 	{ content: "b"; }
						&.twitter-link a:before 	{ content: "a"; }
						&.google-plus-link a:before	{ content: "c";	}
						&.linkedin-link	a:before	{ content: "j";	}
						&.pinterest-link a:before	{ content: "d";	}
						&.youtube-link a:before		{ content: "r";	}
						&.vimeo-link a:before		{ content: "s";	}
						&.foursquare-link a:before	{ content: "e";	}
						&.rss-feed-link a:before	{ content: ",";	}
						&.flickr-link a:before		{ content: "v"; }
						&.instagram-link a:before	{ content: "x"; }
						&.tripadvisor-link a:before { content: "3"; }
					}

					a {
						width: 100%;
						@include font-size($sizeValue: 10);
						line-height: 49px;
						text-decoration: none;
						color: $accent-color-8;

						&:hover,
						&:focus { @include opacity(0.8); }


					}

				}
			}

			ul {
				list-style: none;
				padding-left: 0;
			}

		}
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
}

@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}





@media print {

	img.parallax-image { display: inline-block !important; }

	footer.content-footer {
		display: none;
	}
}







/* ==========================================================================
   Custom Overrides & Templates
   ========================================================================== */

nav {

	#menu-primary-navigation {

		// .search { display: none !important; }
	}
}
