// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
@extend "_colours.scss";


// Fonts
@extend "_fonts.scss";
