/* ==========================================================================
   Footer
   ========================================================================== */

html,
body {
	footer {
		.link-love {
			@include opacity(0.3);

			&:hover { @include opacity(1); }

			a { &:hover { color: $cloud9-orange; } }
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}
