/* ==========================================================================
   Header
   ========================================================================== */


html,
body {
	// padding-top: 30px; // Counter the nav depth

	&.logged-in {
		.secret-nav  { margin-top: 32px; }
		.navbar-fixed-top.navbar.banner.navbar-default { top: 32px !important; }
	}
}




/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}