/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: $screen-xs-max) {
	html,
	body {

	}
}

@media (min-width: $screen-sm-min) {
	html,
	body {
	}
}

@media (min-width: $screen-md-min) {
	html,
	body {

	}
}

@media (min-width: $screen-lg-min) {
	html,
	body {
	}
}





@media print {

	img.parallax-image { display: inline-block !important; }
}