/* ==========================================================================
   Pages
   ========================================================================== */

html,
body {

	.content-wrapper {
		background: $accent-color-8;
		color: $brand-color-2;

		.page-header {
			margin-top: 0;
		}
	}

	&.home,
	&.error404 {
		.page-header {
			display: none;
		}

		.content-wrapper {
			background: none;
			padding: 0;
		}
	}

	&.error404 {
		img { margin-bottom: 30px; }
	}

}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {}
}
