/* ==========================================================================
   Posts
   ========================================================================== */

html,
body {
	main {

		article {

			padding-bottom: 15px;
			margin-bottom: 25px;
			border-bottom: 1px solid $accent-color-9;

			&:last-of-type {
				border: none;
				margin-bottom: 0;
			}

			header {

				margin-bottom: 15px;

				h2 {
					margin-bottom: 0;
				}

				time {
					margin-bottom: 15px;
					padding-left: 20px;
					background: url('../images/icon-clock.png') no-repeat left center;
					@include opacity(0.5);
				}
			}

			.featured-image {
				text-align: center;
				margin-bottom: 15px;
			}


			.entry-summary {
				p {
					@include font-size(18);
					line-height: 26px;

					a {
						margin-top: 15px;
						@extend .btn-agp;
						@extend .btn-block;
					}
				}
			}


			&:hover {
				header {
					time { @include opacity(1); }
				}

				.featured-image {
					img {
						transform: scale(1.07);
					}
				}
			}
		}

	}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: $screen-xs-max) {
	html,
	body {}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {
		main {
			article {
				.entry-summary {
					p {
						a {
							margin-left: -200000px;
						}
					}
				}

				&:hover {
					.entry-summary {
						p {
							a {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}