/* ==========================================================================
   Sidebar
   ========================================================================== */

html,
body {
	aside {
		&.sidebar {
			background: $brand-color-3;
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: $screen-xs-max) {
	html,
	body {
		aside {
			&.sidebar {
				clear: both;
			    width: 345px;
			    margin-left: 15px;
			    display: inline-block;
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	html,
	body {}
}

@media (min-width: $screen-md-min) {
	html,
	body {}
}

@media (min-width: $screen-lg-min) {
	html,
	body {
		aside {
			&.sidebar {
				margin-left: -15px;
			}
		}
	}
}